.search-bar .nav-wrapper {
  background-color: rgba(255, 244, 230, 0.8);
  padding: 1px 0;
  margin: 15px 0;
}

.search-bar #search::placeholder {
  color: rgb(80, 80, 80);
}

.search-bar #search:focus {
  background-color: rgba(0, 0, 0, 0);
}

.carousel-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 1px 1px 3px black;
  padding: 10px;
}
.carousel-item h4 {
  margin-bottom: 50px;
}

.carousel #carousel-1 {
  background-image: url("http://localhost:3000/images/carousel/11.jpg");
}
.carousel #carousel-2 {
  background-image: url("http://localhost:3000/images/carousel/12.jpg");
}
.carousel #carousel-3 {
  background-image: url("http://localhost:3000/images/carousel/31.jpg");
}
.carousel #carousel-4 {
  background-image: url("http://localhost:3000/images/carousel/41.jpg");
}
